.TabHeader {
    display: flex;
    margin-bottom: 10px;
}
.TabHeader > div {
    /* width: calc(100% / 6); */
    display: flex;
    justify-content: center;
    padding: 20px;
}
.TabHeader > .Active, .TabHeader > div:hover {
    background: #003056;
    color: white;
    cursor: pointer;
}
@media screen and (max-width: 500px) {
    .TabHeader > div {
        padding: 5px;
        /* font-size: .4em; */
    }
    .TabHeader {
        flex-direction: column;
    }
}