.Modal {
    z-index: 100;
    background: rgba(0, 0, 0, 0.781);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ModalContent {
    /* height: 40%; */
    overflow-y: auto;
    width: 60%;
    z-index: 101;
}
@media screen and (max-width: 500px) {
    .ModalContent {
        height: 60%;
        width: 90%;
    }
}